.resizer-horizontal {
  cursor: col-resize;
  background-color: blue;
  width: 4px;
  min-width: 4px;
}

.resizer-vertical {
  cursor: row-resize;
  background-color: red;
  height: 4px;
  min-height: 4px;
}

#wrapper {
  max-width: 100%;
  overflow: auto;
}

#test-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

#test-container-horizontal {
  display: flex;
  height: 100%;
  width: 100vw;
}

#test-container-vertical {
  display: flex;
  flex-direction: column;
  height: 65vh;
  overflow: hidden;
}

#horizontal_1,
#horizontal_2,
#horizontal_3,
#horizontal_4 {
  width: 100%;
  color: black;
  overflow: hidden;
}

#horizontal_1 {
  background-color: aqua;
}
#horizontal_2 {
  background-color: aquamarine;
}
#horizontal_3 {
  background-color: bisque;
}
#horizontal_4 {
  background-color: cadetblue;
}

#vertical_1,
#vertical_2,
#vertical_3,
#vertical_4 {
  height: 100%;
  color: black;
  overflow: hidden;
}

#vertical_1 {
  background-color: aqua;
}
#vertical_2 {
  background-color: aquamarine;
}
#vertical_3 {
  background-color: bisque;
}
#vertical_4 {
  background-color: cadetblue;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
